# Fetching Data From

## 1. CSV

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
csv_data=pd.read_csv('Data/Salary_dataset.csv')

In [5]:
csv_data

    Unnamed: 0  YearsExperience    Salary
0            0              1.2   39344.0
1            1              1.4   46206.0
2            2              1.6   37732.0
3            3              2.1   43526.0
4            4              2.3   39892.0
5            5              3.0   56643.0
6            6              3.1   60151.0
7            7              3.3   54446.0
8            8              3.3   64446.0
9            9              3.8   57190.0
10          10              4.0   63219.0
11          11              4.1   55795.0
12          12              4.1   56958.0
13          13              4.2   57082.0
14          14              4.6   61112.0
15          15              5.0   67939.0
16          16              5.2   66030.0
17          17              5.4   83089.0
18          18              6.0   81364.0
19          19              6.1   93941.0
20          20              6.9   91739.0
21          21              7.2   98274.0
22          22              8.0  101303.0
23          23              8.3  113813.0
24          24              8.8  109432.0
25          25              9.1  105583.0
26          26              9.6  116970.0
27          27              9.7  112636.0
28          28             10.4  122392.0
29          29             10.6  121873.0

### Sep Parameter

- data=pd.read_csv('data.csv',sep='\t')

### To set columns name

- pd.read_csv('data.csv',sep='\t',names=[]

### Encoding Parameter
- pd.read_csv('data.csv',encoding='latin-1'// utf-8)

## 2. JSON / SQL

### JSON

In [6]:
json_data=pd.read_json('Data/recipes.json')

In [7]:
json_link_data=pd.read_json('https://v6.exchangerate-api.com/v6/<api key>/latest/USD')

In [8]:
json_link_data

,result,documentation,terms_of_use,time_last_update_unix,time_last_update_utc,time_next_update_unix,time_next_update_utc,base_code,conversion_rates
AED,success,https://www.exchangerate-api.com/docs,https://www.exchangerate-api.com/terms,1684800002,"Tue, 23 May 2023 00:00:02 +0000",1684886402,"Wed, 24 May 2023 00:00:02 +0000",USD,3.6725
AFN,success,https://www.exchangerate-api.com/docs,https://www.exchangerate-api.com/terms,1684800002,"Tue, 23 May 2023 00:00:02 +0000",1684886402,"Wed, 24 May 2023 00:00:02 +0000",USD,87.3916
ALL,success,https://www.exchangerate-api.com/docs,https://www.exchangerate-api.com/terms,1684800002,"Tue, 23 May 2023 00:00:02 +0000",1684886402,"Wed, 24 May 2023 00:00:02 +0000",USD,102.9167
AMD,success,https://www.exchangerate-api.com/docs,https://www.exchangerate-api.com/terms,1684800002,"Tue, 23 May 2023 00:00:02 +0000",1684886402,"Wed, 24 May 2023 00:00:02 +0000",USD,386.1633
ANG,success,https://www.exchangerate-api.com/docs,https://www.exchangerate-api.com/terms,1684800002,"Tue, 23 May 2023 00:00:02 +0000",1684886402,"Wed, 24 May 2023 00:00:02 +0000",USD,1.7900
...,...,...,...,...,...,...,...,...,...
XPF,success,https://www.exchangerate-api.com/docs,https://www.exchangerate-api.com/terms,1684800002,"Tue, 23 May 2023 00:00:02 +0000",1684886402,"Wed, 24 May 2023 00:00:02 +0000",USD,110.3712
YER,success,https://www.exchangerate-api.com/docs,https://www.exchangerate-api.com/terms,1684800002,"Tue, 23 May 2023 00:00:02 +0000",1684886402,"Wed, 24 May 2023 00:00:02 +0000",USD,250.0456
ZAR,success,https://www.exchangerate-api.com/docs,https://www.exchangerate-api.com/terms,1684800002,"Tue, 23 May 2023 00:00:02 +0000",1684886402,"Wed, 24 May 2023 00:00:02 +0000",USD,19.2560
ZMW,success,https://www.exchangerate-api.com/docs,https://www.exchangerate-api.com/terms,1684800002,"Tue, 23 May 2023 00:00:02 +0000",1684886402,"Wed, 24 May 2023 00:00:02 +0000",USD,18.8811
ZWL,success,https://www.exchangerate-api.com/docs,https://www.exchangerate-api.com/terms,1684800002,"Tue, 23 May 2023 00:00:02 +0000",1684886402,"Wed, 24 May 2023 00:00:02 +0000",USD,1425.4546

### SQL

- We can use xampp for sql
- You have to make connection of sql using python

In [9]:
!pip install mysql.connector

Requirement already satisfied: mysql.connector in c:\users\acer\anaconda3\envs\machinelearning\lib\site-packages (2.2.9)

In [11]:
import mysql.connector
import warnings

con=mysql.connector.connect(host='localhost',user='root',password='',database='world')

In [12]:
warnings.filterwarnings('ignore')
pd.read_sql_query('SELECT * FROM country',con)

,Code,Name,Continent,Region,SurfaceArea,IndepYear,Population,LifeExpectancy,GNP,GNPOld,LocalName,GovernmentForm,HeadOfState,Capital,Code2
0,ABW,Aruba,North America,Caribbean,193.0,NaN,103000,78.4,828.0,793.0,Aruba,Nonmetropolitan Territory of The Netherlands,Beatrix,129.0,AW
1,AFG,Afghanistan,Asia,Southern and Central Asia,652090.0,1919.0,22720000,45.9,5976.0,NaN,Afganistan/Afqanestan,Islamic Emirate,Mohammad Omar,1.0,AF
2,AGO,Angola,Africa,Central Africa,1246700.0,1975.0,12878000,38.3,6648.0,7984.0,Angola,Republic,José Eduardo dos Santos,56.0,AO
3,AIA,Anguilla,North America,Caribbean,96.0,NaN,8000,76.1,63.2,NaN,Anguilla,Dependent Territory of the UK,Elisabeth II,62.0,AI
4,ALB,Albania,Europe,Southern Europe,28748.0,1912.0,3401200,71.6,3205.0,2500.0,Shqipëria,Republic,Rexhep Mejdani,34.0,AL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,YEM,Yemen,Asia,Middle East,527968.0,1918.0,18112000,59.8,6041.0,5729.0,Al-Yaman,Republic,Ali Abdallah Salih,1780.0,YE
235,YUG,Yugoslavia,Europe,Southern Europe,102173.0,1918.0,10640000,72.4,17000.0,NaN,Jugoslavija,Federal Republic,Vojislav Koštunica,1792.0,YU
236,ZAF,South Africa,Africa,Southern Africa,1221037.0,1910.0,40377000,51.1,116729.0,129092.0,South Africa,Republic,Thabo Mbeki,716.0,ZA
237,ZMB,Zambia,Africa,Eastern Africa,752618.0,1964.0,9169000,37.2,3377.0,3922.0,Zambia,Republic,Frederick Chiluba,3162.0,ZM
238,ZWE,Zimbabwe,Africa,Eastern Africa,390757.0,1980.0,11669000,37.8,5951.0,8670.0,Zimbabwe,Republic,Robert G. Mugabe,4068.0,ZW

## 3. API

- Api is just a data pipeline
- We can use json reader

In [ ]:
import requests
res=requests.get('API Link')
res.json()['table name']
# To convert into dataset

pd.DataFrame(res.json()['results'])

## 3.  Fetching Data Using Web Scraping

In [18]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [19]:
import requests
url='https://www.gharbazar.com/property/list/normal/?_vt=1'
headers = {
    'User-Agent': 'Mozilla/15.0 (Macintosh; Intel Mac OS 10.14; rv:66.0) Gecko/20100101 Firefox/66.0'
}

webpage=requests.get(url,headers=headers).text
# response = requests.get(url, headers=headers)

soup=BeautifulSoup(webpage,'lxml')

In [20]:
a=soup.find('div',class_='dropdown hide').text

In [21]:
print(a.strip())

All
Achham
Arghakhanchi
Baglung
Baitadi
Bajhang
Bajura
Banke
Bara
Bardia
Bhaktapur
Bhojpur
Chitwan
Dadeldhura
Dailekh
Dang
Darchula
Dhading
Dhankuta
Dhanusa
Dolakha
Dolpa
Doti
Gorkha
Gulmi
Humla
Ilam
Jajarkot
Jhapa
Jumla
Kailali
Kalikot
Kanchanpur
Kapilbastu
Kaski
Kathmandu
Kavre
Khotang
Lalitpur
Lamjung
Mahottari
Makwanpur
Manang
Morang
Mugu
Mustang
Myagdi
Nawalparasi
Nuwakot
Okhaldhunga
Palpa
Panchthar
Parbat
Parsa
Pyuthan
Ramechhap
Rasuwa
Rautahat
Rolpa
Rukum
Rupandehi
Salyan
Sankhuwasabha
Saptari
Sarlahi
Sindhuli
Sindhupalchowk
Siraha
Solukhumbu
Sunsari
Surkhet
Syangja
Tanahu
Taplejung
Terhathum
Udayapur
India

#### This is only the example of how you can fetch data from beautysoup